
/* Inicio nosotros */
.historia p {
    font-size: 12px;
    /* 0.7rem */
}

.personas {
    display: flex;
    justify-content: space-between;
}

.persona {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 18%;
    text-align: center;
    padding: 13px;
    box-sizing: border-box;
    /* background-color: orange; */
}

.persona img {
    border-radius: 50%;
    max-width: 60%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.persona h5 {
    font-size: 14px;
    margin-top: 5px;
}

.persona h6 {
    margin: 0;
    font-weight: normal;
    color: #2e64a1;
}

/* Fin nosotros */