/* Inicio homepage */
.bienvenidos {
    width: 75%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #dff0ff;
    border-radius: 8px;
}

.testimonios {
    width: 25%;
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.columnas {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.testimonio .cita {
    font-weight: bold;
    font-style: italic;
    font-size: 22px;
    background-color: yellow;
    display: block;
    padding: 5px;
    color: black;
    border-radius: 5px;
}

.testimonio .autor {
    font-size: 12px;
    text-align: center;
    background-color: yellow;
    display: block;
    margin: 12px 0;
    color: black;
    border-radius: 5px;
}
/* Fin homepage */  