<h2>Login</h2>

{{#if error}}
  <p style="color:red;">Usuario o contraseña incorrectos</p>
{{/if}}

<form action="/admin/login" method="post">
  <input type="text" name="usuario" placeholder="Usuario" required>
  <input type="password" name="password" placeholder="Contraseña" required>
  <button type="submit">Ingresar</button>
</form>
